.fundo{
    background-color:rgb(214, 214, 213) ;
}

.novasDivs {
    background-color: rgb(163, 201, 188);
    display: flex; 
    width:100%; 
    justify-content: space-between;
}
.botao{
  background-color: rgb(163, 201, 188);
    width: 150px;;
    
}