<div style="text-align:center">
  <input *ngIf="mostraInput" placeholder="Insira aqui a tarefa" [(ngModel)]="pessoa.tarefa"
   class="input" autocomplete="off" />
  <select class="select" [(ngModel)]="pessoa.categoria">
    <option value="">Selecione uma categoria</option>
    <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
  </select>
  <div *ngFor="let propriedade of listaPropriedades">
    <input *ngIf="propriedade.tipo === 'string'" type="text" 
    placeholder="Insira uma nova propriedade" [(ngModel)]="propriedade.insercao">
    <input *ngIf="propriedade.tipo === 'number'" type="number" 
    placeholder="Insira uma nova propriedade" [(ngModel)]="propriedade.insercao">
    <select *ngIf="mostraInput && propriedade.tipo === 'selecao'" [(ngModel)]="propriedade.insercao">
      <option value="">Seleção</option>
      <option *ngFor="let item of propriedade.itensSelecao" [value]="item">{{ item }}</option>
    </select>
  </div>
  <button class="botao" (click)="cadastrarTarefa()" [disabled]="!hasPermission('Add')" (click)="cadastrarTarefa()">Cadastrar Tarefa</button>
  
</div>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 30px;">
  <div  (dragover)="dragover(categoria, $event)" (drop)="drop($event)"
  *ngFor="let categoria of categorias; let i = index" class="categoria-coluna">
    <div class="novasDivs">
      <h1 style="color:rgb(12, 99, 94);">{{categoria}}</h1>
      <div draggable="true" *ngFor="let usuario of usuarios; let j = index" (dragstart)="drag(usuario)"
      (drop)="pegaIndice(j, $event)">
        <div *ngIf="usuario.categoria == categoria" (dragend)="atualizarDrag()">
          <h3>Tarefa: {{ usuario.tarefa }}</h3>

          <div *ngFor="let propriedade of usuario.listaPropriedades">
            <div *ngIf="propriedade.insercao != null">
              <div *ngIf="propriedade.insercao!= ''">{{ propriedade.nome }}: {{ propriedade.insercao }}</div>
              
            </div>
          </div>

          Deseja trocar a categoria?
          <br>
          <select [(ngModel)]="usuario.categoria" (change)="atualizarTarefa(usuario, $event.target.value)">
            <option value="">Selecione uma opção</option>
            <option *ngFor="let cat of categorias" [value]="cat">{{cat}}</option>
          </select>
          <br>
          <button  [disabled]="!hasPermission('Remove')" (click)="removerUsuario(usuario)">Excluir Tarefa</button>
        </div>
      </div>
    </div>
  </div>
</div>