<header class="botaoDiv">
  <a href="http://localhost:4200/tarefas"><button class="botoes" (click)="cadastrarTarefa()">Cadastrar Tarefa</button></a>
  <a href="http://localhost:4200/categorias"><button class="botoes" (click)="cadastrarCategorias()">Cadastrar Categoria</button></a>
  <a href="http://localhost:4200/propriedades"><button class="botoes" (click)="cadastrarPropriedades()">Cadastrar Propriedade</button></a>
</header>
<form>
  <input type="text" placeholder="Tarefa: ">
</form>

<br>
<router-outlet></router-outlet>






