.fundo{
    background-color:rgb(214, 214, 213) ;
}

.todo {
    white-space: nowrap;
  }
  
  .todo > div {
    display: inline-block;
  }

.todo{
    width: 33%; height:auto;background-color: rgb(165, 199, 187);
    display:inline-block;  vertical-align: top;
}

.doing{
    width: 33%; height:auto;background-color: rgb(157, 175, 169);
    display:inline-block ;  vertical-align: top;
}
