<div style="text-align:center" class="fundo">
    <h3 class="gerenciador">Insira novas categorias em seu Gerenciador de Tarefas</h3>
    <input *ngIf="mostraCatInput" placeholder="Insira uma nova categoria" [(ngModel)]="novaCategoria">
    <br>
    <br>
    <button class="botao" (click)="adicionarCategoria()">Adicionar</button>
    <br>
    </div>

    <div>
        <h3>As categorias adicionadas foram:</h3>
        <div *ngFor="let categoria of categorias">
            <h3>{{categoria}}</h3>
            <button (click)="removerCategoria(categoria)">Remover</button>
    </div>
