.novasDivs {
    padding: 10px;
    margin-bottom: 10px; 
    background-color: rgb(163, 201, 188);  
    border: 3px solid  rgb(12, 99, 94);
}


.botao{
    background-color: rgb(163, 201, 188);
      width: 150px;;     
}
